<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GitHub</a>
    <nav class="navbar navbar-light bg-dark">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Pull requests</a>
        <a class="nav-item nav-link active" href="#">Issues</a>
        <a class="nav-item nav-link active" href="#">Marketplace</a>
        <a class="nav-item nav-link active" href="#">Explore</a>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>